body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    position: relative;
    color: #fff;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url('image/colorful-neon-frame-design/5955578.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

header {
    background-color: rgba(221, 212, 232, 0.8);
    color: #c0189b;
    padding: 20px;
    text-align: center;
    position: relative; /* Ensure the header is on top of the ::before pseudo-element */
    z-index: 1; /* Set a higher z-index to keep the header on top */
}

/* Rest of your existing styles remain unchanged */

